/* work sans font from google*/

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Space+Grotesk:wght@300&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Work Sans', sans-serif;  
}
/* header style */
.header{
 background-color: #FF900E1A;   
 padding:50px 240px;
 
}
.nav-title{
    font-size: 2.8rem;
     font-weight: 700;
     color: #131313;
     text-align: justify;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav > ul {
    display: flex;
}
nav li  {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}
nav li a {
    text-decoration: none;
    color:#424242 ;
}
/* banner style*/

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    color: #131313;
}
.common-color{
    color: #727272;

}
.primary-btn{
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    margin: 10px 0 50px 0;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border: 0;
}
.banner img {
    width: 100%;
    margin-top:10px;
}
.img-container{
    display: flex;
    margin-top: 20px;
    align-items: center;
    padding:85px 300px;
}
main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.5rem;
    
    
    
}
.teams-img-container img{
    width: 300px;
}

    


.teams-container{
    display: flex;
    align-items: center;
    padding: 0 140px;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size:2.5rem ;
    font-weight: 700;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.our-item{
  color: #131313;  
}
.features{
    color: #FF900E;
    
 }

.features2{
    display: flex;
    grid-template-columns: 2,1fr;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-around;
   
}
.architect-img{
    width: 500px;
}
.section3{
    display: grid;
    padding-bottom: 100px;
}
.section3-img{
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    
    
   
    
}
.section3-img div{
    border: 1px solid #FF900E;
    text-align: center;
    border-radius: 10px;
    width: 180px;
    height: 180px;
    
    
}
.reward-title{
    font-weight: 600px;
    color: #424242;
    

}
.reward{
    padding:20px;
    margin: 20px;
}
.rd-main{
    padding-top: 100px;
    padding-left: 200px;
    padding-bottom: 50px;
}
#some-title{
    padding-right: 540px;
}

.spponser-main{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
.sponser{
    text-align: center;
   padding-left: 500px;
   padding-right: 500px;
}
.sponser-img{
    filter: grayscale();
    
}
.sponser-img img{
    width: 100px;
    height: 30px;

}
.footer{
    text-align: center;
    background-color:#FFF4E7 ;
    padding: 8px 0 8px 0;
    border-radius: 10px;
    
}
.footer-main{
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 100px;

}
.by{
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
}



/* Mobile device */
@media screen and (max-width:576px) {
    .header{
        padding: 20px; }
        .banner-title{
            font-size: 3rem; }
    nav,  .teams-container{
        flex-direction: column;}
    .nav-title{
        font-size:1.5rem ;
    }
    .teams-img-container{
        grid-template-columns:1fr ;
    }
    .team-content{
        padding-left: 20px;
        padding-right: 20px;
    }

}
/*Tablet device*/
@media screen and (min-width:577px) and (max-width:960px) {
    .header{
        padding: 50px; }
    nav ,.teams-container{flex-direction: column; }
}